body {
  background-color: 	#0c122c;
  color: white;
  font-family: "Raleway", sans-serif;
}

span {
  font-weight: bold;
}

#first-half {
  height: 50vh;
}

#second-half {
  background-image: url("images/bg-desktop.png");
  background-size: cover;
  height: 50vh;
}

/*** Container ***/
.container-fluid {
  padding: 0 22%;
}

@media (min-width: 320px) and (max-width: 480px) {
  #first-half {
    height: 0vh;
  }
  #second-half {
    background-image: url("images/bg-mobile.png");
    background-size: cover;
    height: 100vh;
    display: grid;
    place-content: center;
  }
  .container-fluid {
    padding: 35% 10%;
  }
}

@media (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
  .container-fluid {
    padding: 0 5%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .container-fluid {
    padding: 0 8%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container-fluid {
    padding: 0 12%;
  }
}



/*** Icon and storage containers ***/
.icons, .storage {
  padding: 4% 4%;
  background-color: #1d2c67;
}

.icons {
  position: relative;
  bottom: 100px;
  right: 20px;
  border-top-right-radius: 100px;
}

.storage {
  border-radius: 10px;
  position: relative;
  bottom: 60px;
  height: 175px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .icons, .storage {
    padding: 10% 10%;
  }
  .storage p {
    text-align: center;
  }
  .icons {
    right: 0;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .icons {
    padding: 6% 3%;
  }
  .storage {
    bottom: 80px;
  }
}

@media (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
  .icons {
    padding: 4% 3%;
    right: 10px;
  }
  .storage {
    height: 150px;
    bottom: 70px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .icons {
    bottom: 80px;
  }
  .storage {
    height: 162px;
  }
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .storage {
    height: 148px;
  }
}


/*** Fylo icon column ***/
.fylo-icon {
  margin-top: 5%;
  margin-bottom: 10%;
}

.other-icons svg {
  margin-right: 5%;
  background-color: #0c122c;
  width: 45px;
  height: 45px;
  padding: 4% 4%;
  border-radius: 10px;
}


@media (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
  .fylo-icon {
    margin-top: 15%;
  }
  .other-icons svg {
    padding: 5.5% 5.5%;
  }
}

/*** Storage speech bubble ***/
.storage .remaining-storage {
  border: solid thin;
  border-radius: 10px;
  border-bottom-right-radius: 0px;
  background-color: white;
  text-align: center;
  padding: 2% 4%;
  position: absolute;
  right: 7%;
  top: -25%;
}

.storage .remaining-storage::before{
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid white;
  border-top: 10px solid white;
  border-bottom: 10px solid transparent;
  right: -0.5%;
  bottom: -22%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .storage .remaining-storage {
    border-bottom-right-radius: 10px;
    right: 30%;
    top: 80%;
  }
  .storage .remaining-storage::before {
    border-style: none;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .storage .remaining-storage {
    top: -30%;
  }
}

@media (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
  .storage .remaining-storage {
    top: -35%;
  }
}

.storage .remaining-storage h1 {
  color: #0c122c;
  font-weight: bold;
}

.storage .remaining-storage span {
  font-size: 14px;
  font-weight: bold;
  color: #848794;
}

/*** Storage bar ***/
.storage .storage-bar {
  background-color: #0c122c;
  border-radius: 15px;
  height: 30px;
}

.storage .storage-bar .indicator-circle {
  background-image: linear-gradient(to right, #ffa399, #ff4d97);
  border-radius: 15px;
  width: 80%;
  position: relative;
  top: 10%;
  left: 0.5%;
}

.storage .storage-bar .fas {
  position: relative;
  left: 96%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .storage .storage-bar .fas {
    left: 92%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .storage .storage-bar .fas {
    left: 94%;
  }
}

@media (min-width: 481px) and (max-width: 768px) and (orientation: landscape) {
  .storage .storage-bar .fas {
    left: 94%
  }
}

@media (min-width: 769px) and (max-width: 1440px) {
  .storage .storage-bar .fas {
    left: 95%;
  }
}

/*** Storage min and max numbers ***/
.storage .storage-min-max {
  margin-top: 1%;
}

.storage .storage-min-max .max {
  float: right;
}
